.container.about_me {
    margin-top: 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
    
}
.private_media{
    display: flex;
    justify-content: space-around;
}
.content {
    text-align: justify;
}

.col-xl-12 {
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin-top: 10px;
}

.nav .icon {
    padding-right: 30px;
}

@media (max-width: 768px) {
    .photo{
        display: flex;
        justify-content: center;
    }
    .nav {
        display: flex;
        justify-content: space-evenly;
        padding: 0px;
    }
    .nav .icon {
        padding: 0px;
    }
    .private_media {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }  
}
@media (max-width: 576px){
    .content{
        padding: 0px 150px;
    }
}
