.modal-content {
    background: url("https://image.freepik.com/foto-gratis/galletas-chocolate-recien-horneado-papel-marron-sobre-mesa-madera_23-2147890184.jpg") no-repeat center;
}   
.modal-footer {
    border: 0 ; display: flex;
    justify-content: flex-start;
}
.btn {
    background: rgb(40,20,131);
    background: linear-gradient(90deg, rgba(40,20,131,1) 15%, rgba(143,110,213,1) 70%, rgba(243,13,249,1) 94%);
}