/* Section  team */
.team {
    padding: 40px 0;
}

.text-center.header {
    padding: 20px 0;
}


.card-image-team {
    vertical-align: middle;
    width: 170px;
    height: 170px;
    border-radius: 50% !important;
}
.avatar.back .icon{
    color: #281483;
    text-decoration: none;
}
.avatar.back .icon:hover{
    color: #d782d9;
}
.card {
    border: 0px;
}

.avatar {
    display: flex;
    justify-content: center;
}

.card-title {
    padding-bottom: 20px;
    min-width: inherit !important;
}

.private_media {
    text-align: center;
}
.card .image-container{
    display: flex;
    justify-content: center;
}

.container.team .btn {
    padding: 10px 30px;
    border: none;
    
}
.flip-avatar{
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: transparent;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.team .card .flip-avatar:hover {
    transform: rotateY(180deg);
  }
  
  .avatar.front, .avatar.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .avatar.front {
    z-index: 2;
    border-radius: 50%;
  }
  .avatar.back {
    background: linear-gradient(to top, #281483 15%, #8f6ed5 70%, #d782d9 94%);
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center ;
    flex-direction: row ;
    justify-content: center;
  }
 
@media (max-width:992px) {
    .card {
        min-width: inherit;
    }
}