/* Section  team */
.card-image-team{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;

}
.card{
   border: 0px;
}

.links{
   text-align: center;
}
.card-title{
   padding-bottom: 20px;
}
.avatar{
    display: flex;
    justify-content: center;
}
@media (max-width:992px){
   .card-group{
       display: flex;
       flex-direction: column !important;
       
   }

}
 